*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

:root {
	font-size: 10px;
}

body {
	font-family: "Poppins", sans-serif;
	height: 100vh;
}

.not__found {
	position: relative;
	padding-bottom: 4em;
}

img {
	max-width: 100%;
	display: block;
}

.container {
	width: 88%;
	max-width: 1500px;
	margin: 0 auto;
}

.not__found__title {
	font-size: 2.4rem;
	margin-top: 0.5em;
}

.not__found__img {
	margin: 2em auto 3em;
	width: 80%;
}

.not__found__subtitle {
	font-size: 4.8rem;
	text-align: left;
	margin-bottom: 0.5em;
	max-width: 40rem;
}

.not__found__info {
	width: 90%;
	margin-bottom: 2em;
	max-width: 30rem;
	word-spacing: 0.5em;
	font-size: 1.8rem;
	color: #555562;
}

.not__found__btn {
	padding: 1.3em 2em;
	text-transform: uppercase;
	font-size: 1.2rem;
	font-weight: 600;
	color: #fff;
	border: none;
	background-color: hsl(7, 100%, 68%);
	cursor: pointer;
}

.attribution {
	font-size: 1.1rem;
	width: 100%;
	text-align: center;
	margin-top: 8em;
}

.attribution a {
	color: #595959;
}

.attribution a:hover {
	color: #190eb8;
}

.attribution__designer,
.attribution__programmer {
	font-size: 1.2rem;	
}

@media only screen and (min-width: 768px) {
	.row {
		display: flex;
		justify-content: space-between;
		align-items: center;
		min-height: 80vh;
	}

	.img__column {
		width: 40%;
	}

	.text__column {
		width: 60%;
	}

	.not__found__subtitle {
		font-size: 6.4rem;
		word-spacing: 0.3em;
		max-width: 60rem;
	}

	.not__found__info {
		font-size: 2.2rem;
		max-width: 40rem;
	}

	.not__found__btn {
		font-size: 1.4rem;
		padding: 1.5em 2.5em;
		transition: transform 500ms ease-in-out;
	}

	.not__found__btn:hover {
		transition: transform 250ms;
		transform: translateY(-10px);
	}
}
